#job {
	text-align: center;
	white-space: nowrap;
	border-right: 2px solid;
	width: 34ch;
	animation: typing 3s steps(34), blink 0.5s infinite step-end alternate;
	overflow: hidden;
}

@keyframes typing {
	from {
		width: 0;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}

.container {
    margin: 50px 0; 
    padding: 0;
}

.container-fluid {
    padding: 0;
}

.navbar, .btn-primary {
    background-color: #395B64;
    border: none;
}

 .btn-primary:hover {
     background-color: #ECB365;
 }

 .card, .form-control {
    background-color: #A5C9CA;
}

body {
    font-family: 'JetBrains Mono', sans-serif;
    background-color: #2C3333;
    color: #E7F6F2;
}

h1 {
    color: #816213;
    padding: 0;
}

img {
    border-radius: 100px;
}

div {
    padding: 0;
}